{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% static 'script.js' %} {% endblock head %}
{% block title %}My Auction | BidBash{% endblock %}

{% block body %}
<div id="my_auctions">
<h2>My Auctions</h2>

<a class="bid-now" href="{% url 'create_auction' %}" class="btn btn-primary">Create New Auction</a>

{% if user_auctions %}
    <ul>
        {% for auction in user_auctions %}
            <a href="{% url 'item' auction.id %}" style="text-decoration: none;">
                <li style="font-weight: bolder; font-size: x-large; list-style-type:decimal;">{{ auction.name }}</li>
            </a>
            <p><b style="font-size: larger;">Description :</b> {{ auction.description}}<br>
            <b>Base Price : </b> {{ auction.base_price }} <br>
            <b>Start Time : </b> {{ auction.start_time }} <br>
            <b>End Time :</b>  {{ auction.end_time }} <br>
        </p>
            <br> <br> <br> 
            {% endfor %}
    </ul>
{% else %}
    <p>You haven't organized any auctions yet.</p>
{% endif %}
</div>
{% endblock %}
