{% extends 'base.html' %}
{% load static %}
{% block head %}
 <link rel="stylesheet" href="{% static 'styles.css' %}">

{% static 'script.js' %} {% endblock head %}
{% block title %}Profile | BidBash{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="profile-container">
    <h3 style="font-size:xx-large; margin-bottom: 5%;">Your Profile :</h3>
    <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Contact:</strong>{{user.contact_no}}</p>
            <p><strong>First Name:</strong>{{user.first_name}}</p>
            <p><strong>Last Name:</strong>{{user.last_name}}</p>
    <div id="profile" class="tab-content">
        <div class="profile-info">
        </div>
    </div>

    <a href="{% url 'edit_profile' %}">Edit Profile</a>

</div>

<script src="{% static 'script.js' %}"></script>
{% else %}
        <script type="text/javascript">
            window.location.href = "{% url 'login' %}";
        </script>
    {% endif %}
{% endblock %}